@{
    ViewBag.Title = "Database Operation Tests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Database Operation Tests</h2>

@using (Html.BeginForm())
{
    @Html.ActionLink("Click here to query database for textual data with no multithreading", "GetTextSynchronous", "Database");
    <br />
    @Html.ActionLink("Click here to load images from database with no multithreading", "GetImagesSynchronous", "Database");
    <br />
    @Html.ActionLink("Click here to query database for textual data using asynchronous calls", "GetText", "Database");
    <br />
    @Html.ActionLink("Click here to load images from database using asynchronous calls", "GetImages", "Database");
    <br />
    @Html.ActionLink("Click here to load text from database using caching", "GetTextCache", "Database");
    <br />
    @Html.ActionLink("Click here to load images from database using caching", "GetMediaCache", "Database");
}
