@{
    ViewBag.Title = "_EyegazeLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="EyegazeBody">
        <h2>Welcome To 751 Eye-Gaze Analysis Testings</h2>
        @RenderBody()
    </div>
    <div id="menuPositioner">
    <div id="EyegazeMenu">
        <ul id="menu">
            <li>@Html.ActionLink("Grass Search", "TechSearchArticle", "Eyegaze")</li>
            <li>@Html.ActionLink("SteveJobs Search", "StandardSearchArticle", "Eyegaze")</li>
            <li>@Html.ActionLink("Terrain Read", "TechReadArticle", "Eyegaze")</li>
            <li>@Html.ActionLink("Gaming Read", "StandardReadArticle", "Eyegaze")</li>
        </ul>
    </div>
    </div>

