<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Eyegaze.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Research Web Application</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Eye Gaze Tests", "Index", "Eyegaze")</li>
                    <li>@Html.ActionLink("Media", "Index", "Media")</li>
                    <li>@Html.ActionLink("Database", "About", "Home")</li>
                    <li>@Html.ActionLink("Computation", "About", "Home")</li>
                </ul>

            </div>
        </div>

        <div id="whiteBack">
            <div id="main">
                @RenderBody()
                <div id="footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
