@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@model WebAppPerformanceAnalysis.Models.ChangePasswordModel
<script type="text/javascript">
    var activeDates = @Html.Raw(Json.Encode(Model));
</script>

@using (Html.BeginForm())
{
    @Html.ActionLink("Click here for serial ray tracing", "RayTraceSync", "Computation");
                                                                                            <br />
    @Html.ActionLink("Click here for parallel ray tracing", "RayTraceAsync", "Computation");
                                                                                              <br />
    @Html.ActionLink("Click here for cached ray tracing", "RayTraceCache", "Computation");
}


